<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
  <!--/*@thymesVar id="user" type="com.fitness.tracker.model.User"*/-->

  <div th:insert="fragments/header :: header">...</div>

  <div class="modal fade" id="FoodModal" tabindex="-1" aria-labelledby="foodsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodsModalLabel">Search food</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <!--/*@thymesVar id="foods" type="List<com.fitness.tracker.model.Food>"*/-->
            <a th:each="food : ${foods}" th:id="${food.id}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" data-bs-toggle="list">
              <div class="ms-2 me-auto">
              <div class="fw-bold" th:text="${food.name}"></div>
              100g
              </div>
              <span class="badge bg-dark rounded-pill mx-1" th:text="'Carbs ' + ${food.carbohydrates} + 'g'"></span>
              <span class="badge bg-dark rounded-pill mx-1" th:text="'Proteins ' + ${food.proteins} + 'g'"></span>
              <span class="badge bg-dark rounded-pill mx-1" th:text="'Fats ' +${food.fats} + 'g'"></span>
              <span class="badge bg-primary rounded-pill mx-1" th:text="${food.calories} + 'kcal'"></span>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <!--/*@thymesVar id="date" type="java.time.LocalDate"*/-->
          <form class="form-horizontal" th:value="${date}">
            <div class="container-fluid row my-2">
                <input type="number" id="amount-input" min="0" step="1" class="form-control col mx-1"  placeholder="Amount of grams">
                <button type="button" th:onclick="registerFood()" class="btn btn-primary col-4 mx-1">Add food</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Amount</th>
        <th scope="col">Calories</th>
      </tr>
      </thead>
      <tbody>
      <!--/*@thymesVar id="foodRegistrations" type="List<com.fitness.tracker.model.registration.FoodRegistration>"*/-->
        <tr th:each="foodRegistration : ${foodRegistrations}">
          <!--/*@thymesVar id="food" type="com.fitness.tracker.model.Food"*/-->
          <!--/*@thymesVar id="name" type="String"*/-->
          <th scope="row" th:text="${foodRegistration.food.name}"></th>
          <td th:text="${foodRegistration.amount}"></td>
          <td th:text="${foodRegistration.food.calories}"></td>
        </tr>
        <tr>
          <th scope="row"><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#FoodModal">Add Food</button></th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>

  <script th:src="@{/scripts.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>