<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
  <!--/*@thymesVar id="user" type="com.fitness.tracker.model.User"*/-->

  <div th:insert="fragments/header :: header">...</div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Amount</th>
        <th scope="col">Calories</th>
      </tr>
      </thead>
      <tbody>
      <!--/*@thymesVar id="foodRegistrations" type="List<com.fitness.tracker.model.registration.FoodRegistration>"*/-->
        <tr th:each="foodRegistration : ${foodRegistrations}">
          <!--/*@thymesVar id="food" type="com.fitness.tracker.model.Food"*/-->
          <!--/*@thymesVar id="name" type="String"*/-->
          <th scope="row" th:text="${foodRegistration.food.name}"></th>
          <td th:text="${foodRegistration.amount}"></td>
          <td th:text="${foodRegistration.food.calories}"></td>
        </tr>
        <tr>
          <th scope="row"><button type="button" class="btn btn-outline-info">Add Food</button></th>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>