<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fitness Tracker - Register your food </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<!--/*@thymesVar id="person" type="com.fitness.tracker.model.Person"*/-->
  <header>
    <div th:insert="fragments/header :: header">...</div>
  </header>

  <!-- Food Registration Modal-->
  <div class="modal fade" id="FoodModal" tabindex="-1" aria-labelledby="foodsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="foodsModalLabel">Search food</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <!--/*@thymesVar id="food" type="com.fitness.tracker.model.Food"*/-->
            <a th:each="food : ${foods}" th:id="${food.id}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" data-bs-toggle="list">
              <div class="ms-2 me-auto">
                <div class="fw-bold" th:text="${food.name}"></div>
                <span th:text="${food.gramsInOnePortion} + ' g'" th:remove="tag"></span>
              </div>
              <span class="badge bg-dark rounded-pill mx-1" th:text="'Carbs ' + ${#numbers.formatDecimal(food.getNutrientsPerAmount(food.gramsInOnePortion).carbohydrates, 1, 1)} + 'g'"></span>
              <span class="badge bg-dark rounded-pill mx-1" th:text="'Proteins ' + ${#numbers.formatDecimal(food.getNutrientsPerAmount(food.gramsInOnePortion).proteins, 1, 1)} + 'g'"></span>
              <span class="badge bg-dark rounded-pill mx-1" th:text="'Fats ' +${#numbers.formatDecimal(food.getNutrientsPerAmount(food.gramsInOnePortion).fats, 1, 1)} + 'g'"></span>
              <span class="badge bg-primary rounded-pill mx-1" th:text="${food.getCaloriesPerAmount(food.gramsInOnePortion)} + 'kcal'"></span>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <!--/*@thymesVar id="date" type="java.time.LocalDate"*/-->
          <form class="form-horizontal" th:value="${today}">
            <div class="container-fluid row my-2">
                <input type="number" id="amount-input" min="0" step="1" class="form-control col mx-1"  placeholder="Amount of grams">
                <button type="button" th:onclick="registerFood([[${today}]])" class="btn btn-primary col-4 mx-1">Add food</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Update Food Registration Modal-->
    <div class="modal fade" id="ModificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit amount</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p name="modify-update-text"></p>
          </div>
          <div class="modal-footer">
            <input type="number"  name="edit-amount-input" min="0" step="1" class="form-control col mx-1"  placeholder="Amount of grams">
            <button type="button" name="save-modification"  class="btn btn-primary">Save changes</button> <!--th:onclick="modifyAFoodRegistration([[${date}]])"-->
          </div>
        </div>
      </div>
    </div>

  <!-- Delete Food Registration Modal -->
  <div class="modal fade" id="EliminationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete registration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p name="modify-delete-text"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" name="delete" class="btn btn-primary">Yes, delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" th:object="${person}">
    <div class="card-header row pb-1">
      <a th:href="@{'/food/registration?registrationDate=' + ${yesterday}}" class="bi bi-chevron-left col text-center"></a>
      <h5 class=" col text-center" th:text="${today}">Featured</h5>
      <a th:href="@{'/food/registration?registrationDate=' + ${tomorrow}}" class="bi bi-chevron-right col text-center"></a>
    </div>
    <div class="card-body row">
      <div class="col">
        <h5 class="card-title text-center" th:text="*{objectiveCalories.toString() + ' kcal'}"></h5>
        <p class="card-text text-center">Objective</p>
      </div>
      <div class="col">
        <h5 class="card-title text-center">-</h5>
      </div>
      <div class="col">
        <h5 class="card-title text-center" th:text="*{actualDailyNutrientsEaten.calories.toString() + ' kcal'}"></h5>
        <p class="card-text text-center">Eaten</p>
      </div>
      <div class="col">
        <h5 class="card-title text-center">=</h5>
      </div>
      <div class="col">
        <h5 class="card-title text-center" th:text="*{remainingCaloriesForTheActualDay().toString() + 'kcal'}"></h5>
        <p class="card-text text-center">Remaining</p>
      </div>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Amount</th>
        <th scope="col">Calories</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <!--/*@thymesVar id="foodRegistration" type="com.fitness.tracker.model.registration.FoodRegistration"*/-->
        <tr th:each="foodRegistration : ${foodRegistrations}">
          <!--/*@thymesVar id="food" type="com.fitness.tracker.model.Food"*/-->
          <!--/*@thymesVar id="name" type="String"*/-->
          <th scope="row" th:text="${foodRegistration.food.name}"></th>
          <td th:text="${foodRegistration.amountOfGrams} + 'g'"></td>
          <td th:text="${foodRegistration.food.getCaloriesPerAmount(foodRegistration.amountOfGrams)} + 'kcal'"></td>
          <td>
            <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button class="btn btn-success bi bi-pencil-square"  id="btn-modify" th:onclick="openEditModal([[${foodRegistration.food.name}]], [[${foodRegistration.id}]], [[${today}]])"></button>
                <button class="btn btn-danger bi bi-x-square" id="btn-delete" th:onclick="openDeleteModal([[${foodRegistration.food.name}]], [[${foodRegistration.id}]], [[${today}]])"></button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#FoodModal"> <i class="bi bi-plus-circle mx-1"></i>Add Food</button></th>
          <td></td><td></td><td></td>
        </tr>
      </tbody>
    </table>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script th:src="@{/scripts.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>