<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fitness Tracker - Register your weight </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">

  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="/scripts.js"></script>

</head>
<body>
<!--/*@thymesVar id="person" type="com.fitness.tracker.person.model.Person"*/-->
<header>
  <div th:insert="fragments/header :: header">...</div>
</header>

<div class="card" th:object="${person}">

  <div class="card-header row pb-1">

    <a th:href="@{'/weight/registration?registrationDate=' + ${lastMonth}}" class="bi bi-chevron-left col text-center mt-4"></a>

    <div class="col">
      <div class="row">
        <h5 class="col text-center fs-3 fw-bold" th:text="${thisMonth}">Featured</h5>
      </div>
      <div class="row">
        <h5 class="col text-center fs-6" th:text="${thisYear}">Featured</h5>
      </div>
    </div>
    <a th:href="@{'/weight/registration?registrationDate=' + ${nextMonth}}" class="bi bi-chevron-right col text-center mt-4"></a>

  </div>

  <div>

    <div class="container py-5">


      <!-- Calendar -->
      <div class="calendar shadow bg-white p-5">

        <ol class="day-names list-unstyled">
          <li class="font-weight-bold text-uppercase">Sun</li>
          <li class="font-weight-bold text-uppercase">Mon</li>
          <li class="font-weight-bold text-uppercase">Tue</li>
          <li class="font-weight-bold text-uppercase">Wed</li>
          <li class="font-weight-bold text-uppercase">Thu</li>
          <li class="font-weight-bold text-uppercase">Fri</li>
          <li class="font-weight-bold text-uppercase">Sat</li>
        </ol>

        <ol class="days list-unstyled">
          <div id="calendar-days">

            <li th:each="day : ${daysOfLastMonth}" class="grayout">
              <div class="date" th:text="${day}">
                <div class = "badge bg-primary rounded-pill py-4 px-4 fs-5" th:each="dailyWeightRegistration : ${monthlyWeightRegistrations[day - 1]} " th:text="${dailyWeightRegistration.weight} + ' kg'"></div>
              </div>
            </li>

            <li th:each="day : ${daysOfMonth}" th:onclick="openWeightRegistrationModal([[${todayLocalDate.withDayOfMonth(day)}]])">
              <div class="date" th:text="${day}">                                                          <!--array starts at 0-->
                <div class = "badge bg-primary rounded-pill py-4 px-4 fs-5" th:each="dailyWeightRegistration : ${monthlyWeightRegistrations[day - 1]}" th:text="${dailyWeightRegistration.weight} + ' kg'" th:onclick="OpenWeightRegistrationEditModal"></div>
              </div>
            </li>

            <li th:each="day : ${daysOfNextMonth}" class="grayout">
              <div class="date" th:text="${day}">
                <div class = "badge bg-primary rounded-pill py-4 px-4 fs-5" th:each="dailyWeightRegistration : ${monthlyWeightRegistrations[day - 1]}" th:text="${dailyWeightRegistration.weight} + ' kg'"></div>
              </div>
            </li>

          </div>
          <!--<script> createDaysInMonth("2021-12-15")</script>-->
        </ol>
      </div>
    </div>

    <!-- Weight Registration Modal-->
    <div class="modal fade" id="WeightRegistrationModal" tabindex="-1" aria-labelledby="weightRegistrationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="weightRegistrationModalLabel">Register weight</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!--/*@thymesVar id="date" type="java.time.LocalDate"*/-->
            <form class="form-horizontal" name="registration-form">
              <div class="container-fluid row my-2">
                <input type="number" name="weight-input" min="0" step="1" class="form-control col mx-1"  placeholder="Weight in kilos">
                <button type="button" name="save-registration" class="btn btn-primary col-4 mx-1">Register weight</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script th:src="@{/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>