<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fitness Tracker - Register your exercise </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">


</head>
<body>
<!--/*@thymesVar id="person" type="com.fitness.tracker.person.model.Person"*/-->
<header>
  <div th:insert="fragments/header :: header">...</div>
</header>

<div class="card" th:object="${person}">

  <div class="card-header row pb-1">

    <a th:href="@{'/exercise/registration?registrationDate=' + ${lastMonth}}" class="bi bi-chevron-left col text-center mt-4"></a>

    <div class="col">
      <div class="row">
        <h5 class="col text-center fs-3 fw-bold" th:text="${thisMonth}">Featured</h5>
      </div>
      <div class="row">
        <h5 class="col text-center fs-6" th:text="${thisYear}">Featured</h5>
      </div>
    </div>

    <a th:href="@{'/exercise/registration?registrationDate=' + ${nextMonth}}" class="bi bi-chevron-right col text-center mt-4"></a>

  </div>

  <div>

    <div class="container py-5">


      <!-- Calendar -->
      <div class="calendar shadow bg-white p-5">

        <ol class="day-names list-unstyled">
          <li class="font-weight-bold text-uppercase">Sun</li>
          <li class="font-weight-bold text-uppercase">Mon</li>
          <li class="font-weight-bold text-uppercase">Tue</li>
          <li class="font-weight-bold text-uppercase">Wed</li>
          <li class="font-weight-bold text-uppercase">Thu</li>
          <li class="font-weight-bold text-uppercase">Fri</li>
          <li class="font-weight-bold text-uppercase">Sat</li>
        </ol>

        <ol class="days list-unstyled">
          <li>
            <div class="date">1</div>
            <div class="event bg-success">Event with Long Name</div>
          </li>
          <li>
            <div class="date">2</div>
          </li>
          <li>
            <div class="date">3</div>
          </li>
          <li>
            <div class="date">4</div>
          </li>
          <li>
            <div class="date">5</div>
          </li>
          <li>
            <div class="date">6</div>
          </li>
          <li>
            <div class="date">7</div>
          </li>
          <li>
            <div class="date">8</div>
          </li>
          <li>
            <div class="date">9</div>
          </li>
          <li>
            <div class="date">10</div>
          </li>
          <li>
            <div class="date">11</div>
          </li>
          <li>
            <div class="date">12</div>
          </li>
          <li>
            <div class="date">13</div>
            <div class="event all-day begin span-2 bg-warning">Event Name</div>
          </li>
          <li>
            <div class="date">14</div>
          </li>
          <li>
            <div class="date">15</div>
            <div class="event all-day end bg-success">Event Name</div>
          </li>
          <li>
            <div class="date">16</div>
          </li>
          <li>
            <div class="date">17</div>
          </li>
          <li>
            <div class="date">18</div>
          </li>
          <li>
            <div class="date">19</div>
          </li>
          <li>
            <div class="date">20</div>
          </li>
          <li>
            <div class="date">21</div>
            <div class="event bg-primary">Event Name</div>
            <div class="event bg-success">Event Name</div>
          </li>
          <li>
            <div class="date">22</div>
            <div class="event bg-info">Event with Longer Name</div>
          </li>
          <li>
            <div class="date">23</div>
          </li>
          <li>
            <div class="date">24</div>
          </li>
          <li>
            <div class="date">25</div>
          </li>
          <li>
            <div class="date">26</div>
          </li>
          <li>
            <div class="date">27</div>
          </li>
          <li>
            <div class="date">28</div>
          </li>
          <li>
            <div class="date">29</div>
          </li>
          <li>
            <div class="date">30</div>
          </li>
          <li>
            <div class="date">31</div>
          </li>
          <li class="outside">
            <div class="date">1</div>
          </li>
          <li class="outside">
            <div class="date">2</div>
          </li>
          <li class="outside">
            <div class="date">3</div>
          </li>
          <li class="outside">
            <div class="date">4</div>
          </li>
        </ol>
      </div>
    </div>


  </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script th:src="@{/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>